[defaults]
# Default settings for all Ansible runs

# The default inventory file location
inventory = inventories/hosts

# Set default remote user (SSH username)
remote_user = root

# Enable privilege escalation (sudo)
become = true
become_user = root
become_method = sudo
become_password = Sameer@19

# Other default settings
timeout = 30

[ssh_connection]
# Optimize SSH settings for performance
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[ansible]
# Enable connection debugging if troubleshooting is needed
connection_plugins = ssh
