[req]
default_bits = {{ ssl_key_size }}
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = US
ST = State
L = City
O = Organization
OU = IT Department
CN = {{ ssl_domain }}

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = {{ ssl_domain }}
{% for san in ssl_subject_alt_names %}
DNS.{{ loop.index + 1 }} = {{ san }}
{% endfor %}